
<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <!-- <p>Form value: {{form.value| json}}</p>
    <p>Form valid: {{form.status| json}}</p> -->
    <div class="p-3">
      <div class="row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input formControlName="tema" type="text" class="form-control" [ngClass]="{'is-invalid': f.tema.errors && f.tema.touched}" placeholder="Insira o Tema">
          <div *ngIf="f.tema.errors?.required" class="invalid-feedback">
            Tema é obrigatório
          </div>
          <div *ngIf="f.tema.errors?.minlength" class="invalid-feedback">
            Tema deve ter no mínimo 4 caracteres
          </div>
          <div *ngIf="f.tema.errors?.maxlength" class="invalid-feedback">
            Tema deve ter no máximo 50 caracteres
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input formControlName="local" type="text" class="form-control" [ngClass]="{'is-invalid': f.local.errors && f.local.touched}" placeholder="">
          <div *ngIf="f.local.errors?.required" class="invalid-feedback">
            Local é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input formControlName="dataEvento" type="date" class="form-control" [ngClass]="{'is-invalid': f.dataEvento.errors && f.dataEvento.touched}" placeholder="">
          <div *ngIf="f.dataEvento.errors?.required" class="invalid-feedback">
            Data e Hora é obrigatório
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-2">
          <label>Qtd Pessoas</label>
          <input formControlName="qtdPessoas" type="number" class="form-control" [ngClass]="{'is-invalid': f.qtdPessoas.errors && f.qtdPessoas.touched}" placeholder="">
          <div *ngIf="f.qtdPessoas.errors?.required" class="invalid-feedback">
            Quantidade de Pessoas é obrigatório
          </div>
          <div *ngIf="f.qtdPessoas.errors?.max" class="invalid-feedback">
            A quantidade não pode ultrapassar 120.000
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input formControlName="telefone" type="text" class="form-control" [ngClass]="{'is-invalid': f.telefone.errors && f.telefone.touched}" placeholder="(000) 90000-0000">
          <div *ngIf="f.telefone.errors?.required" class="invalid-feedback">
            Telefone é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Email</label>
          <input formControlName="email" type="text" class="form-control" [ngClass]="{'is-invalid': f.email.errors && f.email.touched}" placeholder="e-mail">
          <div *ngIf="f.email.errors?.required" class="invalid-feedback">
            Email é obrigatório
          </div>
          <div *ngIf="f.email.errors?.email" class="invalid-feedback">
            Insira um e-mail válido
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input formControlName="imagemUrl" type="text" class="form-control" [ngClass]="{'is-invalid': f.imagemUrl.errors && f.imagemUrl.touched}" placeholder="imagem">
          <div *ngIf="f.imagemUrl.errors?.required" class="invalid-feedback">
            Imagem é obrigatório
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary me-auto border" (click) = "resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled] = "!form.valid">
          <!-- <span class="spinner-border spinner-border-sm me-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
