
<h2>Eventos</h2>
<hr>


<div>
  <div class="form-group">
    <input class="form-control" placeholder="Pesquisar" [(ngModel)]="filtroLista">
    <br>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
  </div>
</div>

<h2>Filtro : {{filtroLista}}</h2>

<hr>
<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th >
        <button class="btn btn-ligh btn-sm" (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse">
          {{isCollapsed ? "Mostrar" : "Esconder"}}
        </button>
      </th>
      <th >#</th>

      <th >Tema</th>
      <th >Local</th>
      <th >Data</th>
      <th >Qtd de Pessoas</th>
      <th >Lote</th>
      <th >Options</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length" >
    <tr *ngFor="let item of eventosFiltrados">
      <td><img src="/assets/{{item.imagemUrl}}" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav" [style.width.px]="80"></td>
      <td>{{item.eventoId}}</td>
      <td>{{item.tema}}</td>
      <td>{{item.local}}</td>
      <td>{{item.dataEvento}}</td>
      <td>{{item.qtdPessoas}}</td>
      <td>{{item.lote}}</td>
      <td>Options</td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado!!</h4>
      </td>
    </tr>
  </tfoot>
</table>
