
<h2>Eventos</h2>
<hr>


<div class="form-inline">
  <div class="form-group mb-4">
    <label class="mr-2">Filtro:</label>
    <input placeholder="Pesquisar" class="form-control" [(ngModel)]="filtroLista" >
  </div>
</div>

<hr>


<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th >
        <button class="btn btn-light btn-sm" (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse">
          {{isCollapsed ? "Mostrar" : "Esconder"}}
        </button>
      </th>
      <th >#</th>
      <th >Tema</th>
      <th >Local</th>
      <th >Data</th>
      <th >Qtd de Pessoas</th>
      <th >Lote</th>
      <th >Options</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventosFiltrados.length" >
    <tr *ngFor="let item of eventosFiltrados">
      <td><img src="/assets/{{item.imagemUrl}}" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav" [style.width.px]="80"></td>
      <td>{{item.eventoId}}</td>
      <td>{{item.tema}}</td>
      <td>{{item.local}}</td>
      <td>{{item.dataEvento}}</td>
      <td>{{item.qtdPessoas}}</td>
      <td>{{item.lote}}</td>
      <td class="text-center" ><button class="btn btn-primary btn-sm me-3">Editar</button>
          <button class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventosFiltrados.length">
    <tr>
      <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado!!</h4>
      </td>
    </tr>
  </tfoot>
</table>
